.description {
  position: relative;
  background-color: #000000;
  height: auto;

}

.description__background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute; 
}

.description__background>video {
    opacity: 0.2;
}

.description__list{
    position: relative;
    width: 100%;
    height: 100%;
}

.description__list>ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    color: lavender;
    padding: 0;
    margin: 0;
}


li.descriptions__item {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 46px;
    color: #74d146;
    font-family: 'Bitter';
    font-style: oblique;
    flex-direction: column;
    transition: all ease 0.3s;
}

.ass {
    animation-name: DescriptionScreenAnimODD;
    animation-duration: 1.5s;
}


/**li.descriptions__item:nth-child(odd){
    animation-name: DescriptionScreenAnimODD;
    animation-duration: 1.5s;
}

li.descriptions__item:nth-child(even){
    animation-name: DescriptionScreenAnimEVEN;
    animation-duration: 1.5s;
}**/

li.descriptions__item:nth-child(odd):hover {
    box-shadow: 0 0 10px 1px saddlebrown;
}

li.descriptions__item:nth-child(even):hover {
    box-shadow: 0 0 10px 1px rgba(32, 199, 46, 0.664);
}

li.descriptions__item:hover{
    background-color: #00000094;
}

li.descriptions__item:hover
.item__title{
    transform: scale(1.1);
    transition: all ease-in 0.3s;
}

.item__text {
  padding-top: 50px;
}

.item__title {
    position: relative;
    z-index: 2;
    transition: all ease-in 0.3s;

}

.item__num{
    font-size: 110px;
    position: absolute;
    color: #46b0d1;
    top: 0;
    z-index: 1;
    font-style: normal;
    opacity: 0.6;
    transition: all ease-in 0.3s;

}


/** description storage **/
.description__storage {
    font-size: 16px;
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87c0c9;
    padding: 30px;
}


/**MEDIA SCREEN**/

@media screen and (max-width: 987px){
    .description__list>ul {
        display: grid;
        grid-template-columns: 1fr;
    }
   
    .item__num{
        font-size: 70px;
        top: auto;
    }

    .descriptions__item {
        box-sizing: border-box;
    }

    .description__background {
        display: none;
    }

    .ass {
        animation-name: DescriptionScreenAnimEVEN;
        animation-duration: 1.5s;
    }
}



/**KEYFRAMES**/

@keyframes DescriptionScreenAnimODD {
    0%{
        transform: translate(0, 150%);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes DescriptionScreenAnimEVEN {
    0%{
        transform: translate(150%, 0%);
    }
    100%{
        transform: translate(0, 0);
    }
}